
$primary: #00e3d5;
$success: #91c84e;
$warning: #e8b010;
$danger: #ff4c08;
$secondary: #454a4f;
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;
$headings-font-family: $font-family-monospace;